<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EdTempsECN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
      <servlet-name>Connection</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.ConnectionServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>CheckConnection</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.CheckConnectionServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>Deconnexion</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.DisconnectServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>Abonnements</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.AbonnementsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>Connection</servlet-name>
      <url-pattern>/identification/connection</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>Deconnexion</servlet-name>
      <url-pattern>/identification/disconnect</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>CheckConnection</servlet-name>
      <url-pattern>/identification/checkconnection</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>Abonnements</servlet-name>
      <url-pattern>/abonnements</url-pattern>
  </servlet-mapping>
  
</web-app>