<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EdTempsECN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
      <servlet-name>Connection</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.ConnectionServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>CheckConnection</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.CheckConnectionServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>Deconnexion</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.DisconnectServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>Abonnements</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.AbonnementsServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>GroupesAbonnementsEtNonAbonnements</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.GroupesAbonnementsEtNonAbonnementsServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>SAbonner</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.SAbonnerServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>SeDesabonner</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.SeDesabonnerServlet</servlet-class>
  </servlet>  
  
  <servlet>
      <servlet-name>RecupererMatieresEtTypes</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.MatieresEtTypesServlet</servlet-class>
  </servlet>  
  
  <servlet>
      <servlet-name>ICalToken</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.ICalTokenServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>GetICal</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.ICalServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>GetListeMateriels</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.MaterielServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>RechercheSalleLibre</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.RechercheSalleLibreServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>CalendriersUtilisateur</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.CalendriersUtilisateurServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>EvenementsResponsable</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.EvenementsResponsableServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>GetListeGroupesParentsPotentiels</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.GroupesParentsPotentielsServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>Evenement</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.EvenementServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>GroupeParticipants</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.GroupeParticipantsServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>GetListeProprietairesPotentiels</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.ProprietairesPotentielsServlet</servlet-class>
  </servlet>
	
  <servlet>
      <servlet-name>ParametresCalendrier</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.ParametresCalendrierServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListeGroupesUtilisateurProprietaire</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.GroupesProprietaireServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RattachementGroupe</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.RattachementGroupeServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Disponibilite</servlet-name>
      <servlet-class>org.ecn.edtemps.servlets.impl.DisponibiliteServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ClientLogging</servlet-name>
    <servlet-class>org.ecn.edtemps.servlets.ClientLoggingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Connection</servlet-name>
      <url-pattern>/identification/connection</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>Deconnexion</servlet-name>
      <url-pattern>/identification/disconnect</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>CheckConnection</servlet-name>
      <url-pattern>/identification/checkconnection</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>Abonnements</servlet-name>
      <url-pattern>/abonnements/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>GroupesAbonnementsEtNonAbonnements</servlet-name>
      <url-pattern>/abonnementsetnonabonnements</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>SAbonner</servlet-name>
      <url-pattern>/sabonner</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>SeDesabonner</servlet-name>
      <url-pattern>/sedesabonner</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>RecupererMatieresEtTypes</servlet-name>
      <url-pattern>/matieresettypes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>ICalToken</servlet-name>
      <url-pattern>/ical/token</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>GetICal</servlet-name>
      <url-pattern>/ical/get</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>GetListeMateriels</servlet-name>
      <url-pattern>/listemateriels</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>RechercheSalleLibre</servlet-name>
      <url-pattern>/recherchesallelibre</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>CalendriersUtilisateur</servlet-name>
      <url-pattern>/mescalendriers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>EvenementsResponsable</servlet-name>
      <url-pattern>/mesevenements</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetListeGroupesParentsPotentiels</servlet-name>
    <url-pattern>/groupesparentspotentiels</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	<servlet-name>Evenement</servlet-name>
	<url-pattern>/evenement/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	<servlet-name>GroupeParticipants</servlet-name>
	<url-pattern>/groupeparticipants/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GetListeProprietairesPotentiels</servlet-name>
    <url-pattern>/proprietairespotentiels</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
      <servlet-name>ParametresCalendrier</servlet-name>
      <url-pattern>/calendrier/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListeGroupesUtilisateurProprietaire</servlet-name>
    <url-pattern>/groupesutilisateurproprietaire</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RattachementGroupe</servlet-name>
    <url-pattern>/rattachementgroupe/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>Disponibilite</servlet-name>
      <url-pattern>/disponibilitesalle</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>ClientLogging</servlet-name>
      <url-pattern>/logging</url-pattern>
  </servlet-mapping>
  

</web-app>

