/**
 * Calendrier annuel pour la gestions des jours spéciaux
 */

#calendrierAnnee {
	border-collapse: collapse;
	border: solid 1px black;
	text-align: center;
}

#calendrierAnnee th {
	border-bottom: solid 1px black;
	width: 90px;
}

#calendrierAnnee td {
	border-left: solid 1px black;
	border-right: solid 1px black;
}

#calendrierAnnee td div.jour_bloque_clic {
	cursor: pointer;
	margin: auto;
	width: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#calendrierAnnee td div.jour_bloque_clic:hover {
	background-color: #C8C8C8;
}