/**
 * Boîte de dialogue de jQuery UI
 */
 
 .ui-dialog {
	z-index: 100;
	position: absolute;
	border-radius: 5px;
}

.ui-dialog-content {
	background-color: #DDDDDD;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	border: solid 1px gray;
}

.ui-dialog-titlebar {
	background-color: #FFA500;
	padding: 5px 10px 10px 10px;
	border-radius: 5px 5px 0px 0px;
	font-weight: bold;
	height: 15px;
	cursor: move;
	text-align: center;
	border: solid 1px gray;
}

.ui-dialog-titlebar-close {
	display : inline-block;
	width : 20px;
	height : 20px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
	border: none;
	float: right;
	cursor: pointer;
	background : url('img/fermer.png') no-repeat center center;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #EEEEEE;
	opacity: .8;
	filter: Alpha(Opacity=80);	
}

.ui-dialog-content input[type=text], input[type=password], input[type=date] {
	border: 1px solid black;
}

.ui-dialog .ui-datepicker-trigger {
	cursor: pointer;
	margin-left: 5px;
}


/**
 * DatePicker de jQuery
 */

 .ui-datepicker {
 	background-color: white;
 	border: solid 1px gray;
 	border-radius: 5px;
 	padding: 2px;
 	display: none;
 }

.ui-datepicker .ui-datepicker-prev {
	display : inline-block;
	width : 25px;
	height : 25px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
	border: none;
	float: left;
	cursor: pointer;
	background : url('img/gauche.png') no-repeat center center;
}

.ui-datepicker .ui-datepicker-next {
	display : inline-block;
	width : 25px;
	height : 25px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
	border: none;
	float: right;
	cursor: pointer;
	background : url('img/droite.png') no-repeat center center;
}

.ui-datepicker .ui-datepicker-header {
	text-align: center;
	background-color: #FFA500;
	border: solid 1px gray;
	border-radius: 5px;
	height: 25px;
}

.ui-datepicker .ui-datepicker-title {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 5px;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today {
	background-color: #FBF9EF;
	border: 1px solid #FCEFA1;
}

.ui-datepicker a {
	text-decoration: none;
	color: black
}

.ui-datepicker .ui-datepicker-calendar th {
	font-size: 0.7em;
	height: 20px;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day {
	background-color: white;
}

.ui-datepicker .ui-datepicker-calendar td {
	background-color: #E5E5E5;
	color: gray;
	border: solid 1px #D3D3D3;
	text-align: right;
	font-size: 0.7em;
	width: 20px;
	cursor: pointer;
	padding-right: 2px;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable {
	background-color: white;
	border: solid 1px white;
	cursor: default;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	border: solid 1px white;
}

.ui-datepicker .ui-datepicker-calendar td:hover {
	color: black;
	border: solid 1px gray;
}




/**
 * Custom combobox
 */

.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete {
	padding: 2px;
	background-color: white;
	border: solid 1px gray;
	border-radius: 3px;
	width: 200px;
}

.ui-menu .ui-menu-item {
	list-style-type: none;
}
	
.ui-menu .ui-menu-item a {
	border: solid 1px white;
	padding: 2px 5px 2px 5px;
	font-size: 0.9em;
	cursor: pointer;
	display: block;
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	background-color: #F4F4F4;
	border: solid 1px gray;
	border-radius: 3px;
}

.ui-autocomplete.ui-menu {
	z-index: 10;
}