body {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

#colonne_gauche {
	float: left;
}

#main_content {
	overflow: hidden;
}

#formulaire_connexion {
	background-color: #bfc2bf;
	padding: 20px;
	overflow: hidden;
	width: 500px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
}

#table_connexion {
	margin-top: 20px;
	margin-left: 60px;
}

#btn_connexion {
	float: right;
}

.message_alerte {
	color: red;
}

.button {
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	border: 1px solid #bfc2bf;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: inline-block;
}

.button:hover {
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav {
	margin: 0px;
	padding: 0px;
}

ul.button_nav li {
	float: left;
	border: 1px solid #bfc2bf;
	border-left: none;
	list-style-type: none;
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	cursor: pointer;
}

ul.button_nav li a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: block;
}

ul.button_nav li a:focus {
	outline: none;
}

ul.button_nav li:hover, ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul.button_nav li:first-child {
	border-left: 1px solid #bfc2bf;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

ul.button_nav li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#lien_deconnexion {
	float: right;
}

#btn_chercher_salle {
	float: left;
	margin-left: 20px;
}

#div_filtres {
	clear: both;
	float: right;
	margin: 20px;
	position: relative;
	top: 50px;
	margin-top: -50px;
}

#div_header_filtres {
	float: left;
	padding: 5px 10px 0px 0px;
}

#formulaire_filtres{
	overflow: hidden;
	border-left: 2px solid #bfc2bf;
	padding-left: 5px;
}

#btn_ajout_evenement, #bloc_vos_agendas {
	margin-top: 40px;
}

#liste_groupes {
	margin: 20px 10px 0px 0px;
	border: 1px solid #bfc2bf;
	height: 300px
}

#liste_groupes .afficher_cacher_groupe {
	cursor: pointer;
	margin-left: 10px;
}

#liste_groupes .afficher_cacher_groupe:hover {
	color: blue;
	text-decoration: underline;
}
	
/* CSS jquery ui */

.ui-tabs-panel {
	clear: both;
	padding-top: 20px;
}


/* Fin CSS jquery ui */

/* Liste de s�lection des abonnements */
#ms-select-abonnements .ms-list{
	height: 500px;
}

#ms-select-abonnements {
	width: 700px;
}

.select-abonnements-filtre {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}

/* Inversion de l'ordre des listes de s�lection */
.ms-container .ms-selection{
  float: left;
}

.ms-container .ms-selectable{
  float: right;
}

#btn_enregistrer_abonnements {
	margin-top: 20px;
}

#btn_parametres_retour {
	margin-left: 40px;
}

.img_baseline {
	position: relative;
	top: 6px;
}