body {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

tr.invalide {
	color: #FF0000;
}

tr.valide {
	color: #60C003;
}

tr.warning {
	color: #fb863a;
}

tr.ignorer {
	color: #888;
}

tr.ignorer .button {
	color: black;
}

input.invalide {
	box-shadow: #FF0000 0 0 10px;
	border: 1px solid #FF0000 !important;
}

input.valide {
	box-shadow: #60C003 0 0 10px;
	border: 1px solid #60C003 !important;
}

.centrer, #logoAppli, #boutons_colonne_gauche {
	text-align: center;
}

#bouton_jours_bloques {
	margin-top: 10px;
	text-align: center;
}

#colonne_gauche {
	float: left;
	margin-right: 10px;
}

#main_content {
	overflow: hidden;
}

#div_chargement_evenements {
	border: 1px solid #bfc2bf;
	position: absolute;
	bottom: 30px;
	right: 50px;
	width: 320px;
	text-align: center;
	z-index: 1000;
	background-color: #f6f6f6;
}

#div_chargement_evenements > span {
	position: relative;
	top: -3px;
	color: #333;
}

#formulaire_connexion {
	padding: 20px;
	overflow: hidden;
	width: 500px;
}

#table_connexion {
	margin-top: 20px;
	margin-left: 60px;
}

#table_connexion label {
	font-size: 1.1em;
}

#table_connexion td {
	padding: 5px;
}

#btn_connexion {
	float: right;
}

.message_alerte, .salle_occupee {
	color: red;
}

.ui-tooltip {
	padding: 5px 10px;
	color: black;
	border-radius: 5px;
	font-size: 1em;
	box-shadow: 0 0 7px black;
	position: absolute;
	z-index: 1000;
	background-color: #FFE5BF;
}

.button {
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
	border: 1px solid #bfc2bf;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: inline-block;
}

a.button {
	color: black;
	text-decoration: none;
}

.button:hover {
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav {
	margin: 0px;
	padding: 0px;
}

ul.button_nav li {
	float: left;
	border: 1px solid #bfc2bf;
	border-left: none;
	list-style-type: none;
	background-color: #f5f5f5; /* pour IE 9- */
	background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
	cursor: pointer;
}

ul.button_nav li a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: block;
}

ul.button_nav li a:focus {
	outline: none;
}

ul.button_nav li:hover, ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul.button_nav li:first-child {
	border-left: 1px solid #bfc2bf;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

ul.button_nav li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

table.tbl_standard {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
}

table.tbl_standard th{
	background-color: #ddd;
	border: solid 1px gray;
	padding: 2px 5px 2px 5px;
}

table.tbl_standard td {
	background-color: white;
	border: solid 1px gray;
	padding: 2px 2px 2px 5px;
}

#liens_connexion {
	float: right;
}

#btn_chercher_salle {
	float: left;
	margin-left: 20px;
}

#form_chercher_salle, #resultat_chercher_salle, #form_creer_calendrier, #form_creer_groupe,
#select-abonnements, #dialog_detail_groupe, #dialog_gerer_groupe, #form_creer_groupe_parent_message,
#form_creer_groupe_chargement, #tbl_mes_groupes_chargement, #confirm {
	display: none;
}


#confirm table {
	width: 100%;
}

#confirm_buttons {
	text-align: right;
}

#confirm_icon {
	width: 40px;
	margin-right: 20px;
}

#form_chercher_salle_liste_materiel {
	max-height: 150px;
	overflow: auto;	
	margin-bottom: 20px;
	margin-top: 20px;
	display: none;
}

#btn_form_chercher_salle_liste_materiel {
	margin-top: 10px;
	margin-left: 5px;
	color: blue;
	font-style: italic;
	cursor: pointer;
}

#btn_form_chercher_salle_liste_materiel:hover {
	text-decoration: underline;
}

#btn_gerer_agendas {
	margin-left: 80px;
}

#btn_chercher_salle {
	margin-left: 100px;
}

.boutons_valider {
	text-align: right;
}

.spinner_chargement {
	vertical-align: bottom;
}

table.liste_materiel tr .libelle {
	width: 340px;
}

table.liste_materiel tr .quantite {
	width: 50px;
}
	
input[type=number].input_small {
	width: 60px;
	border: solid 1px white;
	text-align: center;
}

table.liste_materiel th {
	text-align: left;
}

#ms-resultat_chercher_salle_select {
	margin-bottom: 10px;
}

#ms-resultat_chercher_salle_select .ms-selection {
	float: right;
	background-color: transparent;
}

#ms-resultat_chercher_salle_select .ms-selectable {
	float: left;
	background-color: transparent;
}

#ms-resultat_chercher_salle_select .ms-list {
	background-color: white;
}

#ms-resultat_chercher_salle_select .resultat_chercher_salle_select-filtre {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
	border-color: gray;
}

#resultat_chercher_salle_message {
	color: gray;
	font-size: 0.8em;
	margin-bottom: 10px;	
}

#div_filtres {
	clear: both;
	float: right;
	width: 350px;
	margin: 10px 0px;
	position: relative;
	top: 50px;
	margin-top: -50px;
}

#div_header_filtres {
	float: left;
	padding: 5px 10px 0px 0px;
}

#formulaire_filtres {
	overflow: hidden;
	border-left: 2px solid #bfc2bf;
	padding-left: 5px;
}

#formulaire_filtres select {
	width: 145px;
}

.bloc_sidebar, #boutons_colonne_gauche, #accueil_datepicker {
	margin-top: 15px;
}

.bloc_sidebar {
	border: 1px solid #bfc2bf;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.bloc_sidebar .header {
	background-color: #f6f6f6;
	border-bottom: 1px solid #bfc2bf;
	padding: 5px 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#liste_groupes, #contenu_statistiques {
	height: 300px;
	width: 250px;
	overflow: auto;
	padding: 5px 5px 5px 20px;
}

#liste_groupes .liste_groupes_sous_groupe {
	margin-left: 20px;
}

#liste_groupes .liste_groupes_triangle {
	margin-left: -10px;
	width: 10px;
	cursor: pointer;
}

#liste_groupes .liste_groupes_checkbox {
	width: 20px;
}

/* Mise en forme Abonnements Indirects */
.abonnement_indirect {
	font-style: italic;
	color:#C8C8C8 !important;
}


/* Formulaire CreationCalendrier */

#form_creer_calendrier {
	display: none;
}

#form_creer_calendrier label {
	margin-left: 20px;
	margin-right: 40px;	
}

#form_creer_calendrier_table td {
	padding-top: 10px; 	
}

#form_creer_calendrier_boutons {
	text-align: right;
	margin-top: 20px;
}

#form_creer_calendrier_nom, #form_creer_calendrier_matiere, #form_creer_calendrier_type {
	width: 250px;
}

.form_creer_calendrier_parent {
	width: 225px;
}

#btn_creer_calendrier {
	margin-top: 20px;
}

/* Tableau d'affichage des calendriers de l'utilisateur (= dont il est propriétaire) */
#tbl_mes_calendriers {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

.attente_rattachement {
	background-color: #FFDBDB;
}

#tbl_mes_calendriers tr {
    border-bottom: 1px solid gray;
    border: 1px solid gray;
}

#tbl_mes_calendriers td {
    padding-left: 5px;
}

.tbl_mes_calendriers_boutons {
    text-align: right;
}

.tbl_mes_calendriers_boutons_modifier {
    margin-right: 5px;
    margin-left: 5px;
}

/* Formulaire CreationGroupeParticipants */

.help_icon {
	width: 15px;
	cursor: help;
}

#form_creer_groupe_nom {
	width: 210px;
	padding-left: 5px;
	margin-left: 2px;
}

#form_creer_groupe_parent_message {
	font-size: 0.8em;
	color: gray;
}

/* CSS jquery ui */

.ui-tabs-panel {
	clear: both;
	padding-top: 20px;
}


/* Fin CSS jquery ui */

/* Liste de sélection des abonnements */
#ms-select-abonnements .ms-list{
	height: 500px;
}

#ms-select-abonnements {
	width: 700px;
}

.select-abonnements-filtre {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}

/* Inversion de l'ordre des listes de sélection */
.ms-container .ms-selection{
  float: left;
}

.ms-container .ms-selectable{
  float: right;
}

#btn_enregistrer_abonnements, #btn_export {
	margin-top: 20px;
	margin-left: 10px;
}

#btn_parametres_retour {
	margin-left: 40px;
}

.img_baseline {
	position: relative;
	top: 6px;
}

.fc-header {
	clear: both;
}

/* Toast */

#toast {
	position: fixed;
	width: 900px;
	height: 20px;
	left: 50%;
	bottom: -40px;
	margin-left: -450px;
	background-color: #0187AA;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: white;
	box-shadow: 3px 5px 7px #888888;
	z-index: 999999;
}


/*
 * Bulle d'information
 */

#bulle_information {
	display: none;
	position: fixed;
	width: 200px;
	background-color: red;
	border-radius: 3px;
	padding: 10px;
	color: white;
	box-shadow: 3px 5px 7px #888888;
	z-index: 10;
	cursor: move;
}

#bulle_information a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#bulle_information a:hover {
	text-decoration: underline;
	color: black;
}

#bulle_information #bulle_information_fermer {
	float: right;
	margin-right: -5px;
	margin-top: -5px;
	border: solid 1px black;
	width: 8px;
	padding: 2px;
	border-radius: 2px;
	cursor: pointer;
}

#bulle_information #bulle_information_fermer:hover {
	background-color: white;
}

#bulle_information #bulle_information_clique:hover {
	cursor: pointer;
	text-decoration: underline;
}

.tab_parametres {
	width: 700px;
	padding-right: 10px;
	overflow: hidden;
}

/* Dialog d'export */

#dialog_export {
	text-align: center;
}

#txt_url_agenda_ical {
	width: 570px;
	height: 50px;
}

/* Dialog d'ajout d'évènement */

#dialog_ajout_evenement > table {
	border-spacing: 2px 10px;
}

#btn_rechercher_salle_evenement {
	margin-left: 10px;
}

.spinner_evenement_loading {
	position: absolute;
	top: 3px;
	right: 3px;
}
.salle_occupee_noncours {
	color: #fb863a;
}
.creneau_horaire {
	display: inline-block;
	border: solid 1px gray;
	padding: 2px 5px;
	font-size: 0.9em;
	margin: 0px 0px 0px -1px;
	cursor: pointer;
}
#dialog_ajout_evenement .multiwidget {
	display: inline-block;
}
#dialog_ajout_evenement .help_icon {
	margin-left: 5px;
}
#dialog_ajout_evenement input, #form_chercher_salle input {
	margin: 0px;
}

/* 
 * Onglet "Mes groupes de participants" de la page de paramétrage
 */
 
#btn_creer_groupe, #btn_creer_calendrier {
	margin-top: 20px;
}

#tbl_mes_groupes {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

#tbl_mes_groupes tr {
	border: solid 1px gray;
}

#tbl_mes_groupes .tbl_mes_groupes_ligne_importante {
	background-color: #FFDBDB;
}

#tbl_mes_groupes .tbl_mes_groupes_groupe:hover {
	color: blue;
	text-decoration: underline;
}

#tbl_mes_groupes .tbl_mes_groupes_groupe {
	padding-left: 10px;
	cursor: pointer;
}

#tbl_mes_groupes .tbl_mes_groupes_boutons {
	text-align: right;
}

#tbl_mes_groupes .tbl_mes_groupes_boutons input {
	margin-left: 5px;
}


/* 
 * Boîte de dialogue pour afficher les détails d'un groupe de participants
 */

#dialog_detail_groupe .dialog_detail_groupe_label {
	text-decoration: underline;
}

#dialog_detail_groupe_boutons {
	text-align: right;
}

/* 
 * Boîte de dialogue de gestion d'un groupe de participants
 */

#dialog_gerer_groupe #dialog_gerer_groupe_boutons {
	text-align: right;
	margin-top: 10px;	
}

#dialog_gerer_groupe .dialog_gerer_groupe_titre {
	font-weight: bold;
}

#dialog_gerer_groupe table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#dialog_gerer_groupe table tr {
	border: solid 1px black;
}

#dialog_gerer_groupe table td {
	padding-left: 5px;
}

#dialog_gerer_groupe table .dialog_gerer_groupe_table_boutons {
	width: 160px;
	text-align: right;
}


/** Multiwidget */
.multiwidget_line {
	position: relative;
	height: 20px;
	margin-bottom: 5px;
}

.multiwidget_btn {
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align: text-bottom;
	margin-left: 5px;
}

.input_autocomplete_overlay {
	z-index: 1;
	position: absolute;
	border-color: transparent !important;
	background-color: white;
	margin: 0px;
	padding: 1px;
}

.input_autocomplete {
	z-index: 2;
	position: absolute;
	margin: 0px;
	padding: 1px;
}

.autocomplete_placeholder {
	display: inline-block;
}

.input_autocomplete:not([disabled]) {
	background-color: rgba(0,0,0,0); /* "transparent" ne fonctionne pas sous IE10- */
}

/** Dialog de détails d'un événement */
.ui-dialog-titlebar.dialog_details_evenement_header, #dialog_details_evenement.ui-dialog-content {
	padding: 15px;
	background-color: white;
}

.ui-dialog-titlebar.dialog_details_evenement_header { 
	background-image: none;
	color: black;
	border-radius: 2px 2px 0px 0px;
	cursor: default;
}

#dialog_details_evenement.ui-dialog-content {
	border-radius: 0px 0px 2px 2px;
}

#dialog_details_evenement table tr {
	height: 1.7em;
}

#dialog_details_evenement table tr td:first-child {
	padding-right: 10px;
}

.dialog_details_evenement_arrow_outer {
	border-top: 9px solid #B9B9B9;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	width: 0px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: 243px;
}

.dialog_details_evenement_arrow_inner {
	border-top: 8px solid white;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 0px;
	height: 0px;
	position: absolute;
	bottom: -8px;
	left: 244px;
}

/** Modifications fullcalendar */
.fc-state-default:not(.fc-state-active) {
	background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
}
.fc-agenda-allday, .fc-agenda-allday + .fc-agenda-divider {
	display: none; /* Pas de support du "journée entière" */
}

.fc-event {
	cursor: pointer; /* Même les événements non draggable ont une popup */
}

.fc-header-title h2 {
	font-weight: normal;
	padding-top: 5px;
}

.fc-first .fc-widget-header {
	background-color: #f6f6f6;
	font-size: 0.8em;
	padding: 2px;
}

/** Choix du groupe et de la salle pour les vues groupe et salle */
#choix_groupe, #choix_salle {
	clear: left;
	position: relative;
	top: 5px;
	height: 0px;
}
#choix_matiere_calendrier {
	clear: left;
	margin: 45px 0px 25px 0px;
}
/** Combobox */
.custom-combobox {
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
	height: 22px;
	display: inline-block;
	border: 1px solid #bfc2bf;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


.custom-combobox-input {
	width: 200px;
	padding: 2px;
	display: inline-block;
	border: none;
	background-color: transparent;
	height: 18px;
}

.custom-combobox-toggle {
	width: 22px;
	height: 18px;
	display: inline-block;
	padding: 2px;
	cursor: pointer;
	border-left: 1px solid #bfc2bf;
}

.custom-combobox-toggle .arrow_down {
	width: 0px;
	height: 0px;
	border-top: 6px solid black;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: relative;
	display: inline-block;
	top: -2px;
	left: 5px;
}


/* Page de gestion des jours bloqués */

#jours_bloques {
	width: 860px;
	margin: auto;
	display: none;
}

#jours_bloques #commandes {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

#jours_bloques_legende {
	float: right;
	margin-top: 10px;
}

#jours_bloques_legende div.item {
	width: 15px;
	height: 15px;
	display: inline-block;
}

#jours_bloques #commandes img {
	cursor: pointer;
	margin: 0px 10px -5px 10px;
	width: 20px;
}
	
#jours_bloques #jours_bloques_liens_connexion {
	position: absolute;
	right: 10px;
	top: 10px;
}

#jours_bloques #calendar_jours_bloques {
	margin: auto;
	width: 1080px;
	display: none;
}

#jours_bloques #chargement_en_cours {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
}

#jours_bloques #bt_gestion_vacances, #bt_ajouter_jour_ferie, #bt_ajout_auto {
	margin-top: 10px;
}

#partie_jours_feries p {
	border-bottom: solid 1px gray;
	padding-bottom: 5px;
	margin-top: 30px;
}

#liste_jours_feries {
	display: none;
	border-collapse: collapse;
	width: 865px;
	text-align: center; 
}

#liste_jours_feries th {
	border: solid 1px black;
	background-color: #E0E0E0;
}

#liste_jours_feries td {
	border: solid 1px black;
	vertical-align: middle;
	height: 30px;
}

#liste_jours_feries td img {
	width: 15px;
	margin: 0px;
}

#liste_jours_feries td .button {
	margin: 0px 5px 0px 5px;
	padding: 3px 5px 3px 5px;
}


/* Dialog ajouter/modifier jours spéciaux : fériés, bloqués et vacances */
#dialog_ajout_jour_ferie, #dialog_ajout_periode_bloquee, #dialog_ajout_vacances {
	display: none;
}
#dialog_ajout_periode_bloquee #date_jour_bloque {
	text-align: center;
	border: 1px solid #0187AA;
	color: #0187AA;
	width: 100%;
	margin-top: -10px;
}
#dialog_ajout_periode_bloquee input {
	margin: 0px;
}


/* Bloc statistiques (page planning calendrier) */
#contenu_statistiques {
	padding: 5px;
}

/* Dialog répéter événement */
#dialog_repeter h3 {
	border-bottom: 1px solid #0187AA;
	color: #0187AA;
	margin: 10px 0px;
	font-weight: normal;
}

#div_synthese {
	margin-bottom: 10px;
	max-height: 250px;
	overflow: auto;
}


/** Dialog de détails d'un jour bloque */
.ui-dialog-titlebar.dialog_detail_jourbloque_header, #dialog_detail_jourbloque.ui-dialog-content {
	padding: 15px;
	background-color: white;
}

.ui-dialog-titlebar.dialog_detail_jourbloque_header { 
	background-image: none;
	color: black;
	border-radius: 2px 2px 0px 0px;
	cursor: default;
}

#dialog_detail_jourbloque.ui-dialog-content {
	border-radius: 0px 0px 2px 2px;
}
.details_jourbloque table {
	border-collapse: collapse;
	margin-bottom: 20px;
}
.details_jourbloque table tr td {
	border-bottom: solid 1px gray;
}

.details_jourbloque table img {
	margin: 5px;
	cursor: pointer;
}


/** Dialog de gestion des vacances */
.ui-dialog-titlebar.dialog_gestion_vacances_header, #dialog_gestion_vacances.ui-dialog-content {
	padding: 15px;
	background-color: white;
}

.ui-dialog-titlebar.dialog_gestion_vacances_header { 
	background-image: none;
	color: black;
	border-radius: 2px 2px 0px 0px;
	cursor: default;
}

#dialog_gestion_vacances.ui-dialog-content {
	border-radius: 0px 0px 2px 2px;
}
.gestion_vacances table {
	border-collapse: collapse;
	margin-bottom: 20px;
}
.gestion_vacances table tr td {
	border-bottom: solid 1px gray;
}

.gestion_vacances table img {
	margin: 5px;
	cursor: pointer;
}
