body {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

#logoAppli {
	margin-left: 50px;
}

#colonne_gauche {
	float: left;
}

#main_content {
	overflow: hidden;
}

#formulaire_connexion {
	padding: 20px;
	overflow: hidden;
	width: 500px;
}

#table_connexion {
	margin-top: 20px;
	margin-left: 60px;
}

#table_connexion label {
	font-size: 1.1em;
}

#table_connexion td {
	padding: 5px;
}

#btn_connexion {
	float: right;
}

.message_alerte, .salle_occupee {
	color: red;
}

.ui-tooltip {
	padding: 5px 10px;
	color: black;
	border-radius: 5px;
	font-size: 1em;
	box-shadow: 0 0 7px black;
	position: absolute;
	z-index: 1000;
	background-color: #FFE5BF;
}

.button {
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	border: 1px solid #bfc2bf;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: inline-block;
}

a.button {
	color: black;
	text-decoration: none;
}

.button:hover {
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav {
	margin: 0px;
	padding: 0px;
}

ul.button_nav li {
	float: left;
	border: 1px solid #bfc2bf;
	border-left: none;
	list-style-type: none;
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	cursor: pointer;
}

ul.button_nav li a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: block;
}

ul.button_nav li a:focus {
	outline: none;
}

ul.button_nav li:hover, ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul.button_nav li:first-child {
	border-left: 1px solid #bfc2bf;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

ul.button_nav li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#lien_deconnexion {
	float: right;
}

#btn_chercher_salle {
	float: left;
	margin-left: 20px;
}

#form_chercher_salle, #resultat_chercher_salle, #form_creer_calendrier, #form_creer_groupe {
	display: none;
}

#form_chercher_salle_liste_materiel {
	max-height: 150px;
	overflow: auto;	
	margin-bottom: 20px;
	margin-top: 20px;
}

.boutons_valider {
	text-align: right;
}

table.liste_materiel {
	border-collapse: collapse;
	font-size: 0.9em;
}

table.liste_materiel tr .libelle {
	width: 340px;
}

table.liste_materiel tr .quantite {
	width: 50px;
}
	
input[type=number].input_small {
	width: 60px;
	border: solid 1px white;
	text-align: center;
}

table.liste_materiel td {
	background-color: white;
	border: solid 1px gray;
	padding: 0px 0px 0px 5px;
}

table.liste_materiel th {
	text-align: left;
	border: solid 1px gray;
	padding: 2px 5px 2px 5px;
}

#ms-resultat_chercher_salle_select {
	margin-bottom: 10px;
}

#ms-resultat_chercher_salle_select .ms-selection {
	float: right;
	background-color: transparent;
}

#ms-resultat_chercher_salle_select .ms-selectable {
	float: left;
	background-color: transparent;
}

#ms-resultat_chercher_salle_select .ms-list {
	background-color: white;
}

#ms-resultat_chercher_salle_select .resultat_chercher_salle_select-filtre {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
	border-color: gray;
}

#resultat_chercher_salle_message {
	color: gray;
	font-size: 0.8em;
	margin-bottom: 10px;	
}

#div_filtres {
	clear: both;
	float: right;
	width: 350px;
	margin: 20px;
	position: relative;
	top: 50px;
	margin-top: -50px;
}

#div_header_filtres {
	float: left;
	padding: 5px 10px 0px 0px;
}

#formulaire_filtres {
	overflow: hidden;
	border-left: 2px solid #bfc2bf;
	padding-left: 5px;
}

#formulaire_filtres select {
	width: 140px;
}

#btn_ajout_evenement, #bloc_vos_agendas {
	margin-top: 40px;
}

#liste_groupes {
	margin: 20px 10px 0px 0px;
	border: 1px solid #bfc2bf;
	height: 300px;
	width: 250px;
	overflow: auto;
	padding: 5px 5px 5px 20px;
}

#liste_groupes .liste_groupes_sous_groupe {
	margin-left: 20px;
}

#liste_groupes .liste_groupes_triangle {
	margin-left: -10px;
	width: 10px;
	cursor: pointer;
}

#liste_groupes .liste_groupes_checkbox {
	width: 20px;
}

/* Mise en forme Abonnements Indirects */
.abonnement_indirect {
	font-style: italic;
	color:#C8C8C8 !important;
}


/* Formulaire CreationCalendrier */

#form_creer_calendrier {
	display: none;
}

#form_creer_calendrier label{
	margin-left: 20px;
	margin-right: 20px; 	
}

#form_creer_calendrier_boutons {
	text-align: right;
	margin-top: 20px;
}

#form_creer_calendrier_nom, #form_creer_calendrier_matiere, #form_creer_calendrier_type {
	width: 250px;
	margin-bottom: 5px;
}

#btn_creer_calendrier {
	margin-top: 20px;
}

/* Tableau d'affichage des calendriers de l'utilisateur (= dont il est propriétaire) */
#tbl_mes_calendriers {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

#tbl_mes_calendriers tr {
    border-bottom: 1px solid gray;
    border: 1px solid gray;
}

#tbl_mes_calendriers td {
    padding-left: 5px;
}

.tbl_mes_calendriers_boutons {
    text-align: right;
}

.tbl_mes_calendriers_boutons_modifier {
    margin-right: 5px;
}

/* Formulaire CreationGroupeParticipants */

.help_icon {
	width: 15px;
	cursor: help;
}

#form_creer_groupe_nom {
	width: 210px;
	padding-left: 5px;
	margin-left: 2px;
}

#form_creer_groupe_parent_message {
	font-size: 0.8em;
	color: gray;
}

/* CSS jquery ui */

.ui-tabs-panel {
	clear: both;
	padding-top: 20px;
}


/* Fin CSS jquery ui */

/* Liste de sélection des abonnements */
#ms-select-abonnements .ms-list{
	height: 500px;
}

#ms-select-abonnements {
	width: 700px;
}

.select-abonnements-filtre {
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}

/* Inversion de l'ordre des listes de sélection */
.ms-container .ms-selection{
  float: left;
}

.ms-container .ms-selectable{
  float: right;
}

#btn_enregistrer_abonnements, #btn_export {
	margin-top: 20px;
	margin-left: 10px;
}

#btn_parametres_retour {
	margin-left: 40px;
}

.img_baseline {
	position: relative;
	top: 6px;
}

.fc-header {
	clear: both;
}

/* Toast */

#toast {
	position: fixed;
	width: 900px;
	height: 20px;
	left: 50%;
	top: -40px;
	margin-left: -450px;
	background-color: #079eb5;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: white;
	box-shadow: 3px 5px 7px #888888;
	z-index: 10;
}


/*
 * Bulle d'information
 */

#bulle_information {
	display: none;
	position: fixed;
	width: 200px;
	background-color: red;
	border-radius: 3px;
	padding: 10px;
	color: white;
	box-shadow: 3px 5px 7px #888888;
	z-index: 10;
	cursor: move;
}

#bulle_information a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#bulle_information a:hover {
	text-decoration: underline;
	color: black;
}

#bulle_information #bulle_information_fermer {
	float: right;
	margin-right: -5px;
	margin-top: -5px;
	border: solid 1px black;
	width: 8px;
	padding: 2px;
	border-radius: 2px;
	cursor: pointer;
}

#bulle_information #bulle_information_fermer:hover {
	background-color: white;
}

#bulle_information #bulle_information_clique:hover {
	cursor: pointer;
	text-decoration: underline;
}

.tab_parametres {
	width: 700px;
	padding-right: 10px;
	overflow: hidden;
}

/* Dialog d'export */

#dialog_export {
	text-align: center;
}

#txt_url_agenda_ical {
	width: 570px;
	height: 50px;
}

/* Dialog d'ajout d'évènement */
#btn_rechercher_salle_evenement {
	margin-left: 10px;
}


input.invalide {
	box-shadow: #FF0000 0 0 10px;
	border: 1px solid #FF0000 !important;
}

input.valide {
	box-shadow: #60C003 0 0 10px;
	border: 1px solid #60C003 !important;
}

.spinner_evenement_loading {
	position: absolute;
	top: 3px;
	right: 3px;
}
.salle_occupee_noncours {
	color: #fb863a;
}

/* 
 * Onglet "Mes groupes de participants" de la page de paramétrage
 */
 
#btn_creer_groupe, #btn_creer_calendrier {
	margin-top: 20px;
}

#tbl_mes_groupes {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

#tbl_mes_groupes tr {
	border: solid 1px gray;
	cursor: pointer;
}

#tbl_mes_groupes .tbl_mes_groupes_ligne_importante {
	background-color: #FFDBDB;
}

#tbl_mes_groupes tr:hover {
	background-color: #DDDDDD;
}

#tbl_mes_groupes .tbl_mes_groupes_groupe {
	padding-left: 10px;
}

#tbl_mes_groupes .tbl_mes_groupes_boutons {
	text-align: right;
	width: 250px;
}

#tbl_mes_groupes .tbl_mes_groupes_boutons input {
	margin-left: 5px;
}


/* 
 * Boîte de dialogue pour afficher les détails d'un groupe de participants
 */

#dialog_detail_groupe .dialog_detail_groupe_label {
	text-decoration: underline;
}

#dialog_detail_groupe_boutons {
	text-align: right;
}

/* 
 * Boîte de dialogue de gestion d'un groupe de participants
 */

#dialog_gerer_groupe #dialog_gerer_groupe_boutons {
	text-align: right;
	margin-top: 10px;	
}

#dialog_gerer_groupe table {
	border-collapse: collapse;
	width: 100%;
}

#dialog_gerer_groupe table tr {
	border: solid 1px black;
}

#dialog_gerer_groupe table td {
	padding-left: 5px;
}

#dialog_gerer_groupe table .dialog_gerer_groupe_table_boutons {
	width: 160px;
	text-align: right;
}

#dialog_gerer_groupe table .dialog_gerer_groupe_table_noms {
	cursor: pointer;	
}

#dialog_gerer_groupe table tr:hover {
	background-color: white;
}

/** Multiwidget */
.multiwidget_line {
	position: relative;
}

.multiwidget_btn {
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align: text-bottom;
	margin-left:5px;
}

.input_autocomplete_overlay {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-color: transparent !important;
	background-color: white;
}

.input_autocomplete {
	z-index: 2;
	position: relative;
}

.input_autocomplete:not([disabled]) {
	background-color: transparent;
}
