<table>
	<tr>
		<td width="95"><label for="txt_libelle">Libellé : </label></td>
		<td><input type="text" id="txt_libelle" maxlength="50" size="40" /></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div id="span_alert_libelle_non_alphanumerique" class="message_alerte" style="display: none">Cette valeur doit être alphanumérique</div>
			<div id="span_alert_libelle_absent" class="message_alerte" style="display: none">Ce champ est obligatoire</div>
		</td>
	</tr>

	<tr>
		<td><label for="date_debut_vacances">Début : </label></td>
		<td><input type="text" id="date_debut_vacances" /></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div id="span_alert_date_debut_absente" class="message_alerte" style="display: none">Ce champ est obligatoire</div>
		</td>
	</tr>

	<tr>
		<td><label for="date_fin_vacances">Fin : </label></td>
		<td><input type="text" id="date_fin_vacances" /></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div id="span_alert_date_fin_absente" class="message_alerte" style="display: none">Ce champ est obligatoire</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top">Groupes : </td>
		<td><input type="text" id="groupes_participants_vacances" /></td>
	</tr>
	<tr>
		<td></td>
		<td><div id="span_alert_choix_groupe_manquant" class="message_alerte" style="display: none">Vous devez sélectionner un groupe</div></td>
	</tr>
	
</table>

<div class="boutons_valider">
	<input type="submit" id="btn_annuler_ajout_vacances" class="button" value="Annuler" />
	<input type="submit" id="btn_valider_ajout_vacances" class="button" value="Valider" />
</div>