<div id="form_chercher_salle" title="Rechercher salle libre">
	<form>
		<table id="form_chercher_salle_table">
			<tr>
				<td><label for="form_recherche_salle_date">Date</label></td>
				<td><input type="text" name="form_recherche_salle_date" id="form_recherche_salle_date" /></td>
			</tr>
			<tr>
				<td><label for="form_recherche_salle_creneau">Créneau</label></td>
				<td><span class="creneau_evenement" id="creneau_m1">M1</span><span class="creneau_evenement" id="creneau_m2">M2</span><span class="creneau_evenement" id="creneau_s1">S1</span><span class="creneau_evenement" id="creneau_s2">S2</span></td>
			</tr>
			<tr>
				<td><label for="form_recherche_salle_debut">Heure début</label></td>
				<td><input type="text" name="form_recherche_salle_debut" id="form_recherche_salle_debut" /> <img alt="aide" class="help_icon" title="Le format attendu est &quot;hh:mm&quot;" src="img/help.png" /></td>
			</tr>
			<tr>
				<td><label for="form_recherche_salle_fin">Heure fin</label></td>
				<td><input type="text" name="form_recherche_salle_fin" id="form_recherche_salle_fin" /> <img alt="aide" class="help_icon" title="Le format attendu est &quot;hh:mm&quot;" src="img/help.png" /></td>
			</tr>
			<tr>
				<td><label for="form_recherche_salle_capacite">Capacité</label></td>
				<td><input type="text" name="form_recherche_salle_capacite" id="form_recherche_salle_capacite" size="5" /></td>
			</tr>
			<tr>
				<td><label for="form_recherche_salle_inclure_salles_occupees">Inclure les salles occupées</label></td>
				<td><input type="checkbox" name="form_recherche_salle_inclure_salles_occupees" id="form_recherche_salle_inclure_salles_occupees" /> <img alt="Aide" title="Si vous cochez la case, les salles occupées par des événements autres que des cours seront inclues dans la recherche." src="img/help.png" class="help_icon" /></td>
			</tr>
		</table>
		
		<div id="btn_form_chercher_salle_liste_materiel">Plus d'options ...</div>

		<div id="form_chercher_salle_liste_materiel">
			<table>
				<!-- Table remplie par JS -->
			</table>
			
			<div id="form_chercher_salle_chargement" style="display: none">
				<img src="img/spinner_chargement_outer_small.gif" class="spinner_chargement" alt="chargement" />
				<span id="form_chercher_salle_message_chargement"></span>
			</div>
		</div>

		<div id="form_chercher_salle_boutons" class="boutons_valider">
			<input type="button" id="form_chercher_salle_valid" class="button" value="Rechercher" />
		</div>
	</form>
</div>
<div id="resultat_chercher_salle" title="Résultat de la recherche">
	<select multiple="multiple" id="resultat_chercher_salle_select"></select>
	<div id="resultat_chercher_salle_message"></div>
	<div id="resultat_chercher_salle_boutons" class="boutons_valider">
		<input type="button" id="resultat_chercher_salle_fermer" class="button" value="Fermer" />
		<input type="button" id="resultat_chercher_salle_creer" class="button" value="Créer un événement" />
	</div>
</div>