<table>
	<tr>
		<td><label for="txt_libelle">Libellé : </label></td>
		<td><input type="text" id="txt_libelle" maxlength="50" size="45" /></td>
	</tr>
	<tr><td></td><td>
		<div id="span_alert_libelle_alphanumerique" class="message_alerte" style="display: none">Cette valeur doit être alphanumérique</div>
		<div id="span_alert_libelle_absent" class="message_alerte" style="display: none">Ce champ est obligatoire</div>
	</td></tr>

	<tr>
		<td><label for="date_jour_ferie">Date : </label></td>
		<td><input type="text" id="date_jour_ferie" size="30" /></td>
	</tr>
	<tr><td></td><td>
		<div id="span_alert_date_absent" class="message_alerte" style="display: none">Ce champ est obligatoire</div>
	</td></tr>
</table>

<div class="boutons_valider">
	<input type="submit" id="btn_annuler_ajout_jour_ferie" class="button" value="Annuler" />
	<input type="submit" id="btn_valider_ajout_jour_ferie" class="button" value="Valider" />
</div>

<div id="dialog_ajout_jour_ferie_chargement" style="display: none">
	<img src="img/spinner_chargement_outer_small.gif" class="spinner_chargement" alt="chargement" />
	<span id="dialog_ajout_jour_ferie_message_chargement"></span>
</div>