<div id="colonne_gauche">
	<img src="img/icone_appli.png" alt="Emploi du temps ECN" />
</div>

<div id="main_content">
	<div id="formulaire_connexion">
		<h1>Connexion à l'emploi du temps</h1>
		<form>
			<table id="table_connexion">
				<tr>
					<td><label for="txt_identifiant">Identifiant</label></td>
					<td><input type="text" id="txt_identifiant" /></td>
				</tr>
				<tr>
					<td><label for="txt_password">Mot de passe</label></td>
					<td><input type="password" id="txt_password" /></td>
				</tr>
			</table>
			
			<div class="message_alerte" id="msg_erreur" style="display: none">Identifiants invalides</div>
			
			<div id="msg_connexion" style="display: none"><img class="img_baseline" src="img/spinner_chargement_outer_small.gif" alt="chargement" />Connexion...</div>
			
			<input type="submit" value="Connexion" id="btn_connexion" />
		</form>
	</div>
</div>