<div id="formulaire_connexion">
	<h1>Connexion à l'emploi du temps</h1>
	<form>
		<table id="table_connexion">
			<tr>
				<td><label for="txt_identifiant">Identifiant</label></td>
				<td><input type="text" id="txt_identifiant" /></td>
			</tr>
			<tr>
				<td><label for="txt_password">Mot de passe</label></td>
				<td><input type="password" id="txt_password" /></td>
			</tr>
		</table>
		
		<span class="message_alerte" id="msg_erreur" style="display: none">Identifiants invalides</span>
		
		<input type="submit" value="Connexion" id="btn_connexion" />
	</form>
</div>