<div id="colonne_gauche">
	<img src="img/icone_appli.png" alt="Emploi du temps ECN" />
</div>
<div id="main_content">

	<div id="tabs">
	
		<ul class="button_nav">
			<li><a href="#parametres/mes_abonnements">Mes abonnements</a></li>
			<li><a href="#parametres/mes_agendas">Mes agendas</a></li>
			<li><a href="#parametres/mes_groupes">Mes groupes de participants</a></li>
		</ul>
		
		<div id="btn_parametres_retour" class="button">Accueil</div>
		
		<div id="parametres/mes_abonnements" class="tab_parametres">
			<select multiple="multiple" id="select-abonnements" style="display: block; height: 900px">
			</select>
			
			<div class="boutons_valider">
				<div class="button" id="btn_export">Export ICAL</div>
			</div>
			
			<div id="dialog_export" title="Export">
				URL de l'agenda ICal : <textarea id="txt_url_agenda_ical"></textarea><br/>
				
				<!-- Href à remplir en JS -->
				<a class="button" id="lien_export_ical" href="#" target="_blank">Ouvrir avec ICal (Apple)</a>
				<a class="button" id="lien_export_gmail" href="#" target="_blank">Ouvrir avec GMail</a>
				
			</div>
			
		</div>
		
		<div id="parametres/mes_agendas" class="tab_parametres">
			<div class="button" id="btn_creer_calendrier">Créer un agenda</div>
			<div id="form_creer_calendrier"
				title="Formulaire de création d'un calendrier">
				<form>
					<table id="form_creer_calendrier_table">
						<tr>
							<td>
								<label for="form_creer_calendrier_nom">
									Nom 	
								</label>
							</td>
							<td>
								<input type="text" name="form_creer_calendrier_nom"
								id="form_creer_calendrier_nom" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="form_creer_calendrier_matiere">
									Matière
								</label>
							</td>
							<td>
								<select id="form_creer_calendrier_matiere">
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label for="form_creer_calendrier_type">
									Type
								</label>
							</td>
							<td>
								<select id="form_creer_calendrier_type">
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label>
									Propriétaires
								</label>
							</td>
							<td id="form_creer_calendrier_proprietaires">
								<input class="form_creer_calendrier_proprietaire"
								type="text" value="Vous-même" disabled="disabled" />
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td id="form_creer_calendrier_ajouter_proprietaire">
								<span>Ajouter un propriétaire</span>
							</td>
						</tr>
					</table>

					<div id="form_creer_calendrier_boutons">
						<input type="button" id="form_creer_calendrier_annuler"
							value="Annuler" /> 
						<input type="button" id="form_creer_calendrier_valider" 
							value="Valider" />
					</div>
				</form>
			</div>

			<table id="tbl_mes_agendas">
				<!-- TODO : Utiliser un template pour remplir la liste -->
			
			</table>
		</div>
		
		<div id="parametres/mes_groupes" class="tab_parametres">
			<div class="button" id="btn_creer_groupe">Ajouter un groupe de participants</div>

			<div id="dialog_detail_groupe" title="Détail sur un groupe de participants" style="display: none;"></div>

			<div id="dialog_gerer_groupe" title="Gérer un groupe de participants" style="display: none;">
				<p>Liste de(s) groupe(s) qui demande(nt) le rattachement à ce groupe :</p>
				<table></table>
				<div id="dialog_gerer_groupe_boutons"><input type="button" class="button" id="dialog_gerer_groupe_fermer" value="Fermer" /></div>
			</div>
			
			<div id="form_creer_groupe">
				<form>
					<table id="form_creer_groupe_table">
						<tr>
							<td>
								<label for="form_creer_groupe_nom">Nom du groupe</label>
							</td>
							<td>
								<input type="text" name="form_creer_groupe_nom"	id="form_creer_groupe_nom" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="form_creer_groupe_parent">Groupe parent</label>
							</td>
							<td>
								<select id="form_creer_groupe_parent"></select>
								<span id="form_creer_groupe_parent_message" style="display: none;"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label for="form_creer_groupe_rattachement">Rattachement autorisé <img alt="Aide" title="Si vous cochez la case, vous autorisez d'autres personnes à rattacher un calendrier à ce groupe de participants. Ce rattachement serait soumis à votre validation." src="img/help.png" class="help_icon" /></label>
							</td>
							<td>
								<input type="checkbox" id="form_creer_groupe_rattachement" name="form_creer_groupe_rattachement" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="form_creer_groupe_cours">Groupe associé à un cours <img alt="Aide" title="Si vous cochez la case, le groupe sera considéré comme un cours." src="img/help.png" class="help_icon" /></label>
							</td>
							<td>
								<input type="checkbox" id="form_creer_groupe_cours" name="form_creer_groupe_cours" />
							</td>
						</tr>
					</table>

					<div id="form_creer_groupe_boutons" class="boutons_valider">
						<input type="button" id="form_creer_groupe_annuler" class="button" value="Annuler" /> 
						<input type="button" id="form_creation_groupe_ajouter" class="button" value="" />
					</div>
					
					<div id="form_creer_groupe_chargement" style="display: none">
						<img src="img/spinner_chargement_outer_small.gif" alt="chargement" />
						<span id="form_creer_groupe_message_chargement"></span>
					</div>

				</form>
			</div>
			
			<table id="tbl_mes_groupes">
				<!-- Liste remplie par le JavaScript -->
			</table>
			
			<div id="tbl_mes_groupes_chargement" style="display: none;">
				<img src="img/spinner_chargement.gif" width="30" alt="chargement" />
				<span id="tbl_mes_groupes_chargement_message"></span>
			</div>
			
		</div>
	</div>
	
	
</div>
