<div id="colonne_gauche">
	<div id="logoAppli">
		<img src="img/icone_appli.png" alt="Emploi du temps ECN" id="logoAppli" />
	</div>
	
	<div id="accueil_datepicker"></div>
	
	<div id="bloc_vos_agendas">
		<div class="header">Statistiques :</div>
		<div id="liste_groupes">
		</div>
	</div>
</div>

<div id="main_content">
	
	<a id="lien_deconnexion" href="#deconnexion">Déconnexion</a>
	
	<ul id="nav_vue_agenda" class="button_nav">
		<li class="selected" id="tab_vue_normale"><a href="#planning_cours/vue_normale">Vue normale</a></li>
		<li id="tab_vue_groupes"><a href="#planning_cours/vue_groupes">Vue groupes</a></li>
	</ul>

	<div id="div_chargement_evenements" style="display: none">
		<img src="img/spinner_chargement_small.gif" alt="chargement" class="spinner_chargement"/>
		<span>Chargement des événements...</span>
	</div>
	<div id="calendar"></div>
</div>

<!-- Dialog d'ajout d'événements (masquée au chargement du JavaScript) -->
<div id="dialog_ajout_evenement" title="Ajouter un événement">
	<!-- Chargé à partir de dialog_ajout_evenement.html -->
</div>

<div id="dialog_recherche_salle" title="Rechercher une salle">
	<!-- Chargé à partir de dialog_recherche_salle.html -->
</div>

<!-- Dialog d'affichage des détails d'un événement -->
<div id="dialog_details_evenement" title="Détails de l'événement">
	<div id="dialog_details_evenement_hook">
	<!-- Contenu rempli à partir du template dialog_details_evenement.tpl -->
	</div>
	<div class="boutons_valider">
		<input type="button" class="button" value="Modifier" id="btnModifierEvenement" />
		<input type="button" class="button" value="Supprimer" id="btnSupprimerEvenement" />
		<input type="button" class="button" value="Répéter" id="btnRepeterEvenement" />
	</div>
</div>
