<div id="colonne_gauche">
	<div>
		<img src="img/icone_appli.png" alt="Emploi du temps ECN" id="logoAppli" />
	</div>
	
	<span class="button" id="btn_ajout_evenement">+ Evénement</span>
	
	<div id="bloc_vos_agendas">
		Vos agendas : <a href="#parametres/mes_abonnements" id="btn_gerer_agendas" class="button">Gérer</a>
		<div id="liste_groupes">
		</div>
	</div>
</div>

<div id="main_content">
	
	<a id="lien_deconnexion" href="#deconnexion">Déconnexion</a>
	
	<ul id="nav_vue_agenda" class="button_nav">
		<li class="selected" id="tab_mes_abonnements"><a href="#agenda/mes_abonnements">Mes abonnements</a></li>
		<li id="tab_mes_evenements"><a href="#agenda/mes_evenements">Mes événements</a></li>
		<li id="tab_vue_groupe"><a href="#agenda/vue_groupe">Vue groupe</a></li>
		<li id="tab_vue_salle"><a href="#agenda/vue_salle">Vue salle</a></li>
	</ul>
	
	<span id="btn_chercher_salle" class="button">Chercher une salle libre</span>
	<div id="recherche_salle_libre">
		<div id="form_chercher_salle" title="Formulaire de recherche d'une salle libre">
			<form>
				<table id="form_chercher_salle_table">
					<tr>
						<td><label for="form_recherche_salle_date">Date de réservation</label></td>
						<td><input type="text" name="form_recherche_salle_date" id="form_recherche_salle_date" /></td>
					</tr>
					<tr>
						<td><label for="form_recherche_salle_debut">Heure de début (ex: 14:00)</label></td>
						<td><input type="text" name="form_recherche_salle_debut" id="form_recherche_salle_debut" /></td>
					</tr>
					<tr>
						<td><label for="form_recherche_salle_fin">Heure de fin (ex: 17:00)</label></td>
						<td><input type="text" name="form_recherche_salle_fin" id="form_recherche_salle_fin" /></td>
					</tr>
					<tr>
						<td><label for="form_recherche_salle_capacite">Capacité</label></td>
						<td><input type="text" name="form_recherche_salle_capacite" id="form_recherche_salle_capacite" value="20" /></td>
					</tr>
					<tr>
						<td><label for="form_recherche_salle_inclure_salles_occupees">Inclure les salles occupées <img alt="Aide" title="Si vous cochez la case, les salles occupées par des événements autres que des cours seront inclues dans la recherche." src="img/help.png" class="help_icon" /></label></td>
						<td><input type="checkbox" name="form_recherche_salle_inclure_salles_occupees" id="form_recherche_salle_inclure_salles_occupees" /></td>
					</tr>
				</table>

				<div id="form_chercher_salle_liste_materiel">
					<table>
						<!-- Table remplie par JS -->
					</table>
					
					<div id="form_chercher_salle_chargement" style="display: none">
						<img src="img/spinner_chargement_outer_small.gif" alt="chargement" />
						<span id="form_chercher_salle_message_chargement"></span>
					</div>
				</div>

				<div id="form_chercher_salle_boutons" class="boutons_valider">
					<input type="button" id="form_chercher_salle_fermer" class="button" value="Fermer" />
					<input type="button" id="form_chercher_salle_valid" class="button" value="Rechercher" />
				</div>
			</form>
		</div>
		<div id="resultat_chercher_salle" title="Résultat de la recherche">
			<select multiple="multiple" id="resultat_chercher_salle_select"></select>
			<div id="resultat_chercher_salle_message"></div>
			<div id="resultat_chercher_salle_boutons" class="boutons_valider">
				<input type="button" id="resultat_chercher_salle_fermer" class="button" value="Fermer" />
				<input type="button" id="resultat_chercher_salle_creer" class="button" value="Créer un événement" />
			</div>
		</div>
	</div>
	
	<div id="div_filtres">
		<div id="div_header_filtres">Filtrer : </div>
		<div id="formulaire_filtres">
			<table>
				<tr>
					<td><label for="dropdown_filtre_matiere">par matière :</label></td>
					<td><select id="dropdown_filtre_matiere"></select></td>
				</tr>
				<tr>
					<td><label for="dropdown_filtre_type">par type :</label></td>
					<td><select id="dropdown_filtre_type"></select></td>
				</tr>
				<tr>
					<td><label for="dropdown_filtre_responsable">par responsable :</label></td>
					<td><select id="dropdown_filtre_responsable"></select></td>
				</tr>
			</table>
		</div>
	</div>

	<div id="calendar"></div>
</div>

<!-- Dialog d'ajout d'événements (masquée au chargement du JavaScript) -->
<div id="dialog_ajout_evenement" title="Ajouter un événement">
	<table>
		<tr>
			<td><label for="txt_nom_evenement">Nom de l'événement : </label></td>
			<td><input type="text" id="txt_nom_evenement"/><div id="span_alert_nom_evenement_alphanumerique" class="message_alerte" style="display: none">Cette valeur doit être alphanumérique</div></td>
		</tr>
		<!-- Elements à masquer selon les droits de l'utilisateur -->
		<tr id="choix_proprietaire">
			<td>Propriétaires</td>
			<td><input type="text" id="input_proprietaires_evenement" /></td>
		</tr>
		<tr id="choix_intervenants">
			<td>Intervenants</td>
			<td><input type="text" id="input_intervenants_evenement" /></td>
		</tr>
		<tr>
			<td>Rattachement aux calendriers : </td>
			<td id="calendriers_evenement">
				<select class="select_calendriers"></select>
			</td>
		</tr>
		<tr>
			<td><label for="date_evenement">Date : </label></td>
			<td><input type="text" id="date_evenement" /></td>
		</tr>
		<tr>
			<td><label for="heure_debut">Heure de début : </label></td>
			<td><input type="text" id="heure_debut" /></td>
		</tr>
		<tr>
			<td><label for="heure_fin">Heure de fin : </label></td>
			<td><input type="text" id="heure_fin" /></td>
		</tr>
		<tr>
			<td>Matériel <em>par salle</em> : <br/>(pour la recherche)</td>
			<td>
				<table id="tbl_materiel">
				</table>
			</td>
		</tr>
		<tr>
			<td>Salles : </td>
			<td>
				<span id="salles_evenement">(Recherchez une ou plusieurs salle(s))</span><br/>
				<input type="submit" id="btn_rechercher_salle_evenement" class="button" value="Rechercher"/> pour <input type="number" class='input_small' id="nb_personnes_evenement" value="5" /> personnes
			</td>
		</tr>
	</table>
	
	<div id="notes_salles_occupees_non_cours" class="salle_occupee_noncours" style="display: none">
		Vous allez prendre les salles des événements :<br/> 
		<ul id="lst_evenements_salles_occupees_non_cours">
		</ul>
	</div>
	
	<div id="notes_salles_occupees" class="salle_occupee" style="display: none">
		Les salles sélectionnées sont occupées par :<br/> 
		<ul id="lst_evenements_salles_occupees">
		</ul>
	</div>

	<div class="boutons_valider">
		<input type="submit" id="btn_valider_ajout_evenement" class="button" value="Valider" />
	</div>
	
	<div id="dialog_ajout_evenement_chargement" style="display: none">
		<img src="img/spinner_chargement_outer_small.gif" alt="chargement" />
		<span id="dialog_ajout_evenement_message_chargement"></span>
	</div>

</div>

<!-- Dialog d'affichage des détails d'un événement -->
<div id="dialog_details_evenement" title="Détails de l'événement">
	<!-- Contenu rempli à partir du template dialog_details_evenement.tpl -->
</div>
