<div id="colonne_gauche">
	<div id="logoAppli">
		<img src="img/icone_appli.png" alt="Emploi du temps ECN" id="logoAppli" />
	</div>

	<div id="bouton_jours_bloques"></div>
	
	<div id="accueil_datepicker"></div>
	
	<div id="bloc_statistiques" class="bloc_sidebar">
		<div class="header">Statistiques :</div>
		<div id="contenu_statistiques">
		</div>
	</div>
</div>

<div id="main_content">
	
	<div id="liens_connexion">
		<a id="lien_retour_normal" href="#agenda">Mode normal</a>
		<a id="lien_deconnexion" href="#deconnexion">Déconnexion</a>
	</div>
	
	<ul id="nav_vue_agenda" class="button_nav">
		<li class="selected" id="tab_vue_normale"><a href="#planning_cours/vue_normale">Vue normale</a></li>
		<li id="tab_vue_groupes"><a href="#planning_cours/vue_groupes">Vue groupes</a></li>
	</ul>
	
	<div id="choix_matiere_calendrier">
		<table>
			<tr>
				<td><label for='select_matiere'>Matière : </label></td><td><select id='select_matiere'></select></td>
			</tr>
			<tr id='ligne_select_calendrier'>
				<td><label for='select_calendrier'>Calendrier : </label></td><td><select id='select_calendrier'></select></td>
			</tr>
			<tr>
				<td>Groupes associés : </td>
				<td id='lst_groupes_associes'></td>
			</tr>
		</table>
	</div>
	

	<div id="div_chargement_evenements" style="display: none">
		<img src="img/spinner_chargement_small.gif" alt="chargement" class="spinner_chargement"/>
		<span>Chargement des événements...</span>
	</div>
	<div id="calendar"></div>
	<div id="page_planning_groupes">
	
		<input type="button" class="button" id="planning_groupes_btn_precedent" value="&lsaquo;"/>
		<input type="button" class="button" id="planning_groupes_btn_suivant" value="&rsaquo;"/>
		<input type="button" class="button" id="planning_groupes_btn_aujourdhui" value="Aujourd'hui"/>
		
		<span id="planning_groupes_label_date"></span>
	
		<div id="planning_groupes">
		</div>
	</div>
</div>

<!-- Dialog d'ajout d'événements (masquée au chargement du JavaScript) -->
<div id="dialog_ajout_evenement" title="Ajouter un événement">
	<!-- Chargé à partir de dialog_ajout_evenement.html -->
</div>

<div id="recherche_salle_libre" title="Rechercher une salle">
	<!-- Chargé à partir de dialog_recherche_salle.html -->
</div>

<div id="dialog_repeter" title="Répéter l'événement">
	<!-- Chargé à partir de dialog_repeter_evenement.tpl -->
</div>

<!-- Dialog d'affichage des détails d'un événement -->
<div id="dialog_details_evenement" title="Détails de l'événement">
	<div id="dialog_details_evenement_hook">
	<!-- Contenu rempli à partir du template dialog_details_evenement.tpl -->
	</div>
	<div class="boutons_valider">
		<input type="button" class="button" value="Modifier" id="btnModifierEvenement" />
		<input type="button" class="button" value="Supprimer" id="btnSupprimerEvenement" />
		<input type="button" class="button" value="Répéter" id="btnRepeterEvenement" />
	</div>
</div>

<div id="dialog_hook">
	<!-- Sera utilisé pour insérer les dialog -->
</div>