body {
	font-family: sans-serif;
}

#header {
	width: 1000px;
	margin: 0px auto 20px auto;
}

#logo {
	width: 150px
}

#logo img {
	width: 100px
}

#main_content {
	box-shadow: 0 0 7px #555;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

h1 {
	background-image: linear-gradient(60deg, #0A3E91, #0096AE);
	border-bottom: 1px solid #BFC2BF;
	background-color: #0187AA;
	color: white;
	padding: 5px 10px 5px 10px;
	display: block;
	text-align: left;
	font-size: 1.2em;
	border-radius: 5px 5px 0px 0px;
}

#form_login {
	box-shadow: 0 0 7px #555;
	width: 375px;
	margin: 100px auto 0px auto;
	border-radius: 5px;
}

#form_login h1 {
	text-align: center;
}

#form_login form {
	margin: 0px auto 20px auto;
	width: 260px;
}

#erreur_connexion {
	color: red;
}

#content {
	padding: 10px;
}


/**
 * Boutons et menus
 */

.button {
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	border: 1px solid #bfc2bf;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: inline-block;
}

a.button {
	color: black;
	text-decoration: none;
}

.button:hover {
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav {
	margin: 0px;
	padding: 0px;
}

ul.button_nav li {
	float: left;
	border: 1px solid #bfc2bf;
	border-left: none;
	list-style-type: none;
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	cursor: pointer;
}

ul.button_nav li a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	display: block;
}

ul.button_nav li a:focus {
	outline: none;
}

ul.button_nav li:hover, ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	background-image: none;
	background-color: #e6e6e6;
}

ul.button_nav li.selected, ul.button_nav li.ui-tabs-active{
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul.button_nav li:first-child {
	border-left: 1px solid #bfc2bf;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

ul.button_nav li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}



/**
 * Liste des salles
 */

#liste_salles {
	margin-top: 20px;
}

#liste_salles table {
	border: solid 1px 0187AA;
	border-collapse: collapse;
	width: 100%;
}

#liste_salles table tr:nth-child(odd) {
  background-color: #E3EDEF;
}

#liste_salles table td {
	padding: 3px;
	border: solid 1px gray;
}

#liste_salles table .liste_salles_modifier {
	text-align: right;
	padding-right: 5px;
	border-right: none;
}

#liste_salles table .liste_salles_supprimer {
	padding-left: 5px;
	border-left: none;
}

#liste_salles table th {
	padding: 3px;
	background-color: #0187AA;
	color: white;
	border: solid 1px gray;
}



/**
 * Formulaires d'ajout et modification de salles
 */

#ajouter_salle #ajouter_salle_form {
	display: none;
	box-shadow: 0 0 7px #555;
	width: 500px;
	border-radius: 5px;
	padding: 10px;
}

.salle_form_boutons {
	text-align: right;
}

input[type=text], input[type=email], input[type=password], textarea {
	border: 1px solid #A9A9A9;
	box-shadow: white 0 0 10px;
	outline: 0;
}

#salle_materiels {
	margin: 2px;
	border-collapse: collapse;
	width: 330px;
}

#salle_materiels td {
	border: solid 1px gray;
	padding-left: 5px;
}

#salle_materiels .salle_quantite_materiel input[type=number] {
	width: 60px;
	border: none;
}

#salle_materiels .salle_quantite_materiel {
	width: 60px;
}

.information {
	font-size: 0.9em;
	color: gray;
	text-align: justify;
}



/**
 * Liste du matériel
 */

#liste_materiel {
	border-collapse: collapse;
	width: 450px;
	margin-top: -5px;
	margin-left: 20px;
	box-shadow: 0 0 7px #0187AA;
	border: solid 1px 0187AA;
}

#liste_materiel tr:nth-child(odd) {
  background-color: #E3EDEF;
}

#liste_materiel td {
	padding: 3px;
}

#liste_materiel th {
	padding: 3px;
	background-color: #0187AA;
	color: white;
}


/**
 * Formulaire d'ajout de matériel
 */

#ajouter_materiel {
	box-shadow: 0 0 7px #555;
	width: 450px;
	position: absolute;
	margin-left: 500px;
	top: 197px;
	height: 70px;
	padding-left: 10px
}

.formulaire_zone_titre {
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: underline;
	font-size: 0.9em;
}

/**
 * Formulaire de suppression de matériel
 */

#supprimer_materiel {
	box-shadow: 0 0 7px #555;
	width: 440px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	margin-left: 500px;
	top: 300px;
	height: 130px;
}


/**
 * Liste des administraurs
 */

#liste_administrateurs {
	border-collapse: collapse;
	width: 450px;
	margin-top: -5px;
	margin-left: 20px;
	box-shadow: 0 0 7px #0187AA;
	border: solid 1px 0187AA;
}

#liste_administrateurs tr:nth-child(odd) {
  background-color: #E3EDEF;
}

#liste_administrateurs td {
	padding: 3px;
}

#liste_administrateurs th {
	padding: 3px;
	background-color: #0187AA;
	color: white;
}


/**
 * Formulaire d'ajout d'un administrateur
 */

#ajouter_administrateur {
	box-shadow: 0 0 7px #555;
	width: 450px;
	position: absolute;
	margin-left: 500px;
	top: 197px;
	height: 170px;
	padding-left: 10px
}


/**
 * Formulaire de suppression d'un administrateur
 */

#supprimer_administrateur {
	box-shadow: 0 0 7px #555;
	width: 440px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	margin-left: 500px;
	top: 390px;
	height: 70px;
}



/**
 * Liste des utilisateurs
 */

#liste_utilisateurs {
	border-collapse: collapse;
	border: solid 1px 0187AA;
	width: 100%;
}

#liste_utilisateurs tr:nth-child(odd) {
  background-color: #E3EDEF;
}

#liste_utilisateurs td {
	padding: 3px;
	border: solid 1px gray;
}

#liste_utilisateurs th {
	padding: 3px;
	background-color: #0187AA;
	color: white;
	border: solid 1px gray;
}

#liste_utilisateurs td.form_supprimer_utilisateur {
	width: 20px;
	border-left: none;
}